@import '../../styles/configs.scss';
@import '../../styles/colors.scss';

.button {
  color: $white;
  margin: auto;
  background-color: rgba(255,255,255,0.27);
  text-transform: uppercase;
  
  &:hover {
    background-color: rgba(204,204,204,0.27);
  }

  &--fluid-width {
    width: 100%;
  }

  &--size-xs {
    height: 24px;
    padding: 0 8px;
    font-size: 14px;
    border-width: 1px;
  }

  &--size-sm {
    height: 32px;
    padding: 0 12px;
    font-size: 14px;
    border-width: 1px;
  }

  &--size-md {
    height: 36px;
    padding: 0 16px;
    font-size: 16px;
    border-width: 2px;
  }

  &--size-lg {
    height: 48px;
    padding: 0 24px;
    font-size: 18px;
    border-width: 2px;
  }

  &--variant-outlined {
    &.button--color-yellow {
      border-color: $yellow;
    }

    &.button--color-black {
      border-color: $grey-4;
    }
  }

  &--variant-contained {
    &.button--color-yellow {
      border-color: $yellow;
      background-color: $yellow;
      color: $grey-4;
    }

    &.button--color-black {
      border-color: $grey-4;
      background-color: $grey-4;
      color: $white;
    }
  }
}
