@import "../../styles/configs.scss";
@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.tabs {
  &__header-scroll-wrapper {
    overflow-x: auto;
    max-width: 100%;
    
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid $grey-3;
    
    
  }

  &__header-link {
    position: relative;
    height: 48px;
    @include center;
    cursor: pointer;
    padding: 0 28px;
    width: calc(100% / 4);
    

    @media screen and (max-width: $breakpoint-down-md) {
      width: calc(100% / 2);
    }

    @media screen and (max-width: $breakpoint-down-xs) {
      padding: 0 12px;
    }

    p {
      margin-right: 12px;
      font-size: 20px;

      @media screen and (max-width: $breakpoint-down-xs) {
        font-size: 18px;
      }
    }

    &:before {
      display: none;
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: $grey-3;
      left: 0;
      bottom: -1px;
    }

    &--active {
      &:before {
        display: block;
      }
    }

    &--full-width {
      flex: 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    @media screen and (max-width: $breakpoint-down-xs) {
      padding-top: 27px;
      padding-right: 16px;
      padding-left: 16px;
      padding-bottom: 16px;
    }
    
  }
}
