@import "./../../../styles/colors.scss";
@import '../../../styles/configs.scss';

.appetisers {
  margin-top: 30px;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 18px;
  max-width: 650px;
  

  &__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 22px;
    color: $bronze;
    font-weight: 500;
    border-bottom: 1px solid $bronze;
    margin-top: 16px;
    

    @media screen and (max-width: $breakpoint-down-xs) {
      font-size: 18px;
      font-weight: 300;
      margin-top: 8px;
    }    
  }

    h4 {
      font-weight: 500;
    }

    
}

